<p>
  Tracks from playlist:
</p>

<div class="panel-body">
  <div class="table-responsive">
    <table class="table" id="table" *ngIf="playlistTracksOverview">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Song</th>
          <th>Album</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of playlistTracksOverview.items">
          <!-- only the main artists needs to be show, do not care for second artists... -->
          <!-- <td *ngFor="let artist of item.track.album.artists">{{ artist.name }}</td> -->
          <td>{{ item.track.album.artists[0].name }}</td>
          <td>{{ item.track.name }}</td>
          <td>{{ item.track.album.name }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/playlists-add', item.uri]">
              Add
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
